@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: #666666;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

@media print {
  a:visited {
    text-decoration: none;
  }
}

a:hover, a:focus {
  color: #216a94;
  text-decoration: none;
}

.btn-link:hover, .btn-link:focus {
  color: #216a94;
  text-decoration: none;
  background-color: transparent;
}

table tr {
  font-size: 14px;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 3.3rem;
  padding: 0.5rem;
  border: 1px solid #cacaca;
  border-radius: 3px;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  color: #0a0a0a;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
textarea:focus {
  outline: none;
  border: 1px solid #8a8a8a;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.65em 1.7em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  color: #fefefe;
}

select {
  width: 100%;
  height: 3.3rem;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  border-radius: 0;
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+") no-repeat 100% center;
  border: 1px solid #e7e7eb;
  color: rgba(0, 0, 0, 0.75);
  font-family: inherit;
  line-height: normal;
  padding: 0 0 0 10px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
  padding: 0;
  margin: 0;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.columns {
  width: 100%;
  float: left;
}

.small-6 {
  width: 25%;
}

.small-8 {
  width: 33.33333%;
}

.small-14 {
  width: 58.33333%;
}

.small-12 {
  width: 50%;
}

.small-18 {
  width: 75%;
  min-height: 70px
}

.logo-box {
  display: inline-block;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.logo-box a:hover {
  color: #FFFFFF;
}

.navbar-default {
  background-color: #373d41;
  color: #fff;
  border-radius: 0;
  border: 0;
}

.nav-stacked {
  height: auto;
  overflow: hidden;
}

.navbar {
  margin-bottom: 0;
}

.nav-stacked > li > a {
  position: relative;
  padding-left: 25px;
}

.nav-stacked > li > a :hover {
  background: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #2a2f32;
}

.navbar-default .navbar-nav > .open > a {
  color: #555;
}

.nav-stacked li {
  width: 100%;
}

.sidebar-trans li:hover,
.sidebar-trans li a:hover {
  color: #fff;
  background-color: #42485B;
}

.sidebar-trans li.active {
  background-color: #42485B;
}

.sidebar-trans li {
  padding-left: 27px;
}

.navbar-nav {
  float: right !important;
}

.sidebar-trans li a:focus {
  color: #fff;
  background: none;
}

.nav-pills {
  padding-top: 10px;
  padding-bottom: 100px;
}

.nav-pills > li > a:hover {
  background: #42485B;
  color: #FFFFFF;
}

.nav-pills > li > a:focus {
  background: #333744;
  color: #FFFFFF;
}

.sidebar-trans.active {
  display: none;
}

.sidebar-trans li {
  line-height: 13px;
}

.towards-right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px dashed;
}

.nav-stacked .caret {
  margin-right: 4px;
}

.sidebar-trans i.iconfont {
  padding-right: 5px;
  color: #FFFFFF;
}

.header {
  height: 50px;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.nav > li {
  display: inline-block;
}

.dropdown-menu {
  position: fixed;
  top: 50px;
  right: 0;
  left: initial;
  min-width: 130px;
}

.content {
  height: 100%;
  position: fixed;
  top: 50px;
  bottom: 0px;
  overflow-x: hidden;
}

.sidenav {
  position: fixed;
  left: 0px;
  height: 100%;
  width: 200px;
  overflow-y: scroll;
  background-color: #333744;
}

.main-content {
  width: auto;
  position: fixed;
  height: auto;
  left: 200px;
  right: 0px;
  top: 50px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.shell-content {
  width: 100%;
  height: auto;
  position: relative;
}

input:disabled, input[readonly],
select:disabled,
textarea:disabled,
textarea[readonly] {
  cursor: not-allowed;
  border: 1px solid #d0d0d0;
  background-color: #f5f8fa;
}